<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PICE-CAR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_Navbar")
    <div class="container body-content">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <br />
                <div class="list-group">
                    <a href="@Url.Action("ActiveMember", "Reports")" id="activeId" class="list-group-item">Active Member</a>
                    <a href="@Url.Action("UnpaidMember", "Reports")" id="unpaidId" class="list-group-item">Unpaid Member</a>
                    <a href="@Url.Action("Seminar", "Reports")" id="seminarId" class="list-group-item">Seminar</a>
                </div>
            </div>

            <div class="col-xs-12 col-md-8">
                @RenderBody()
            </div>
        </div>

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - PICE-CAR</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
