@using PICECAR.Models

@{
    ViewBag.Title = "GenerateActiveMember";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading text-center">
        @Html.ActionLink("Back", "ActiveMember", "Reports", null, new { @class = "btn btn-default btn-xs btn-info pull-left" })
        <h3 class="panel-title">List of Active Members</h3>
    </div>


    <div class="panel-body">
        @Html.ValidationSummary()
        <table class="table table-responsive">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Mobile</th>
            </tr>

            @foreach (var item in (List<ApplicationUser>) ViewData["FilteredMembers"])
            {
                <tr>
                    <td>@item.PersonalInfo.FirstName @item.PersonalInfo.LastName</td>
                    <td>@item.PersonalInfo.HomeAddress</td>
                    <td>@item.PersonalInfo.CellNum</td>
                </tr>
            }
        </table>
    </div>
</div>