@model PICECAR.Models.Education

@{
    ViewBag.Title = "Education";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="panel-title">Edit Education</h3>
    </div>

    <div class="panel-body">
        <br />
        @using (Html.BeginForm("EditEducation", "Profile", FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.EducationId)

            <div class="form-group col-xs-12 col-md-4">
                @Html.LabelFor(model => model.Course, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Course, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-xs-12 col-md-5">
                @Html.LabelFor(model => model.School, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.School, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.School, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-xs-12 col-md-3">
                @Html.LabelFor(model => model.YearGraduated, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.YearGraduated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YearGraduated, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-xs-12 col-md-12">
                <br />
                <input type="submit" value="Save Changes" class="btn btn-success" />
                @Html.ActionLink("Cancel", "Education", "Profile", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#eduInfoId").addClass("active");
    </script>
}
