@model PICECAR.Models.PersonalInfo

@{
    ViewBag.Title = "Personal Info";
}

<div class="row">
    <h2>Personal Information</h2>
    <hr />
</div>

<div class="row">
    @using (Html.BeginForm("PersonalInfo", "Profile", FormMethod.Post, new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-md-8">
            <div class="form-group">
                @Html.LabelFor(model => model.PlaceOfBirth, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PlaceOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlaceOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.HomeAddress, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.HomeAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.BaguioAddress, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.BaguioAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BaguioAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.TelNum, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.TelNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TelNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.CellNum, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CellNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CellNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-md-12">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#pInfoId").addClass("active");
    </script>
}
